footer{
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #f5f5f5;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    border-top: 1px solid #ccc;
    flex-direction: row;
    flex-wrap: wrap;
}

footer span{
    line-height: 1em;
    margin: 0 1rem;
}



footer a{
    text-decoration: none;
    color: gray;
    font-size: 1.2rem;
    transition: 0.3s;
}

footer img{
    width:1em;
    height:1em;
}