body>header.header{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(3, 3, 3) !important;
    overflow: hidden;
}

header *{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-touch-callout: none;
    margin: 0;
    padding: 0;
}


header>h1>a{
    line-height: 30px       !important;
    font-size: 30px         !important;
    color: white           !important ;
    text-decoration: none   !important;
}
