*{
    margin: 0;
    padding: 0;
    overflow-x: visible;
}



html,body{
    overflow-x: hidden;
}

html{
    overflow-y: scroll;
}

#background_canvas{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
    /* background-color: black; */
}




#container{
    position: fixed;
    top: 0;
    left: 0;
    align-content: center;
    background-color: rgb(3, 3, 3);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#container>.white_space{
    position: absolute;
    top: 0%;
    right: -100%;
    animation: white_space 1s 0s forwards;
    background-color: rgba(0, 255, 255, 0.85);
    width: 50%;
    height: 100vh;
}

@keyframes white_space{
    0%{
        right: -100%;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }75%{
        right: 10%;
    }100%{
        right: 10%;
        clip-path: polygon(50% 0%, 100% 0%, 75% 100%, 25% 100%);
    }
}



#title{
    position: fixed;
    top: 0;
    left: 0;
    align-content: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    color: rgba(255, 255, 255, 0.8);
    font-size: 75px;
    /* 字间距 */
    letter-spacing: 5px;
    text-align: center;
}

#title>span{
    display: inline-block;
    transform: translateY(60px) rotateX(45deg);
    opacity: 0;
    animation: title_into 1s 0s forwards;
    user-select: none;
    backdrop-filter: blur(1px);
    filter: blur(10px);
}

@keyframes title_into{
    0%{
        transform: translateY(60px) rotateX(45deg);
        opacity: 0;
        filter: blur(10px);
    }100%{
        transform: translateY(0px) rotateX(0deg);
        opacity: 1;
        filter: none;
    }
}

.clock_container{
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    transform-origin: right top;
    width: 100%;
}




@media screen and (max-aspect-ratio: 1/1) {
    .clock_container{
        transform: scale(0.5) !important;
        transform-origin: top right;
    }

    #title{
        transform-origin: center center;
        transform: scale(0.5) ;
    }
    
    .white_space{
        transform: rotateZ(45deg) scaleY(20) scaleX(1.2);
    }
}

.about_me{
    padding-top: 30px;
    background-color: white;
    width: 100vw;
    height: calc(100vh - 30px);
    margin: 0;
    left: 0;
    top: 0;
    z-index: 1;
    color: #FFF;
}
.about_me>h1{
    text-shadow: #0F0F0F 0px 0px 10px;
}

