/* table>(thead>tr>td,tbody>tr>td) */

body{
    padding: 0;
    margin: 0;
    overflow-x: scroll;
}


table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

table > thead > tr > td {
    background-color: #424242;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
    border: 1px solid #333; /* 添加边框 */
    border-top-left-radius: 10px; /* 添加圆角 */
    border-top-right-radius: 10px; /* 添加圆角 */
}

table > tbody > tr > td {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
    border-bottom-left-radius: 10px; /* 添加圆角 */
    border-bottom-right-radius: 10px; /* 添加圆角 */
}

table > tbody > tr:nth-child(even) {
    background-color: #f2f2f2;
}

table > tbody > tr:hover {
    background-color: #ddd;
    cursor: pointer; /* 鼠标悬停时显示手型 */
}
