/* table>(thead>tr>td,tbody>tr>td) */

html{
    overflow-x: hidden;
}

body{
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
}


.set-center{
    position: relative;
    margin-top: 10em;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.table-container {
    min-width: 70%;
    max-width: 95%;
    width: max-content;
    max-height: 50vh;
    position: relative;
    overflow-y: scroll;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

tr{
    border-radius: 10px;
}

thead{
    position: sticky;
    top: 0;
    background-color: rgba(255,255,255, 0.8);
}

table > thead > tr > td {
    background-color: #424242;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
    border: 1px solid #333;
}

table > tbody > tr > td {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
}

table > tbody > tr:nth-child(even) {
    background-color: #f2f2f2;
}

table > tbody > tr:hover {
    background-color: #ddd;
    cursor: pointer; /* 鼠标悬停时显示手型 */
}

td>a:first-child{
    color: #424242;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

td>a:last-child{
    color: blue;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

footer{
    position: absolute !important;
}
