{%block footer%}

    <link rel="stylesheet" type="text/css" href="/CSS/footer.css">
    <footer>
        <span>
            <a href="/licenses">开源许可证</a>
        </span>
        <!-- 备案信息 -->
        <span>
            <a href="https://beian.miit.gov.cn/" target="_blank">
                <img src="https://beian.mps.gov.cn/img/head-logo2.4d29d9b1.png" alt="" style="width: 1em; height: 1em; margin-right: 0.5em;">
                粤ICP备XXXXXXXXXX号-X
            </a>
        </span>
        <span>
            本项目已在 
            <a href="https://github.com/WorldMargin2/MyWebsite" target="_blank">
                <img src="/ICON/github.png">GitHub
            </a>
            开源
        </span>

        {%if ("admin" not in request.url) %}
        <span>
            <a href="/admin/login">管理员登录</a>
        </span>
        {%endif%}

    </footer>


{%endblock%}