<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 响应式布局 -->

    <title>WorldMargin's website</title>
    <script src="../JS/jquery.js"></script>
    <script src="../JS/firework.js"></script>
    <script src="../JS/firework-init.js"></script>
    <link rel="stylesheet" href="../CSS/index.css">
</head>
<body>
    <canvas id="background_canvas"></canvas>
    <!-- 占位元素 -->
    <div style="height: 100vh;width:100%;z-index: -101;background-color: (3, 3, 3);"></div>
    <div id="container">
        <div class="white_space">
        </div>
        <div class="clock_container">
            {%include 'clock.html'%}
        </div>
    </div>
    <h1 id="title" changed="false"><span>WorldMargin</span></h1>
    <div>
        {%include 'index-main-content.html'%}
    </div>
    {%include 'footer.html'%}
</body>
    <script src="../JS/index.js"></script>
</html>