<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 响应式布局 -->

    <title>WorldMargin's website</title>
    <script src="../JS/jquery.js"></script>
    <link rel="stylesheet" href="../CSS/index.css">
    <link rel="stylesheet" href="../CSS/clock.css">
</head>
<body>
    <canvas id="background_canvas"></canvas>
    <!-- 占位元素 -->
    <div style="height: 100vh;z-index: -101;background-color: (3, 3, 3);"></div>
    <div id="container">
        <div class="white_space">
        </div>
        <div class="clock_container">
            <div id="clock" style="transform-origin: top right;">
                <div id="hour">
                    <div class="show_num">
                        <div class="ele1">00</div>
                        <div class="ele3">01</div>
                        <div class="ele4">01</div>
                        <div class="ele2">00</div>
                    </div>
                    <div class="text">
                        时
                    </div>
                </div>
                <span>:</span>
                <div id="minute">
                    <div class="show_num">
                        <div class="ele1">00</div>
                        <div class="ele3">01</div>
                        <div class="ele4">01</div>
                        <div class="ele2">00</div>
                    </div>
                    <div class="text">
                        分
                    </div>
                </div>
                <span>:</span>
                <div id="second">
                    <div class="show_num">
                        <div class="ele1">00</div>
                        <div class="ele3">01</div>
                        <div class="ele4">01</div>
                        <div class="ele2">00</div>
                    </div>
                    <div class="text">
                        秒
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    <h1 id="title" changed="false"><span>WorldMargin</span></h1>
    <div class="about_me" >
        <h1>关于我</h1>
    </div>
</body>
    <script src="../JS/index.js"></script>
    <script src="../JS/clock.js"></script>
</html>