<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../CSS/licenses.css">
    <script src="../JS/jquery.js"></script>
    <title>Licenses</title>
</head>
<body>
    {%include "header.html"%}
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>名称</th>
                    <th>类型</th>
                    <th>license链接</th>
                    <th>开源链接</th>
                </tr>
            </thead>
            <tbody>
                
                {%for i in licenses%}
                    <tr>
                        <td>{{i.get('name')}}</td>
                        <td>{{i.get('type')}}</td>
                        <td>
                            <a href="{{i.get('url')}}">查看</a>
                            <a download="{{i.get('name')}}-license" href="{{i.get('url')}}/download">下载</a>
                        </td>
                        <td>
                            <a href="{{i.get('open_source_url','')}}">查看</a>
                        </td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    {%include "footer.html"%}
</body>
</html>