



<div class="about_me _markdown markdown-body markdown_css mdmdt" style="background-color: transparent;">
<h1>作者自述</h1>



我是一名在读全日制大一学生，专业为数字媒体。

曾荣获县级科技创新奖项，对编程充满热情，喜欢研究新技术，探索未知领域。

希望借助这个平台，分享自己的作品，与大家交流，共同进步。

### 作者较熟练的编程语言

- [x] C
- [x] C++
- [x] C#
- [x] Python
- [x] Java
- [x] VBScript
- [x] JavaScript

### 项目介绍

我独立完成了网站的前后端开发，所有用到的开源 JavaScript 库都在页面底部的链接中列出。此外，本网站也是一个开源项目，如果你觉得它对你有帮助，请不要吝啬给作者一个star。

---

</div>
<script src="/JS/marked.min.js"></script>
<script src="/JS/extend-marked.js"></script>